<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li>Status: <%= user.activation_status %></li>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section class="bookmarked-videos">
    <h1>Bookmarked Segments</h1>
      <% user.bookmarked_videos.each do |video| %>
        <p class="bookmarked-video"><%= link_to video.title, tutorial_path(video.tutorial) %></p>
      <% end %>
  </section>
  <% if current_user.token %>
    <p><%= link_to "Send an Invite", invite_path %></p>
    <section class='github'>
      <section class='github-repositories'>
      <h1>Github Repositories</h1>
      <%  user.repos.each do |repo| %>
        <section class='repository'>
          <%= link_to repo.name, repo.url %>
        </section>
      <% end %>
      </section>
      <section class='github-following'>
      <h1>Github Users You Follow</h1>
      <% user.following.each do |following| %>
        <section class="following">
          <%= link_to following.name, following.url %>
          <% unless user.friended?(following) %>
          <%= button_to "Add #{following.name} to Friends", friends_path('other_user_github_id' => following.github_id), method: :post %>
          <% end %>
        </section>
      <% end %>
      </section>
      <section class='github-followers'>
    <h1>Github Followers</h1>
    <% user.followers.each do |follower| %>
      <section class='follower'>
      <%= link_to follower.name, follower.url %>
      <% unless user.friended?(follower) %>
      <%= button_to "Add #{follower.name} to Friends", friends_path('other_user_github_id' => follower.github_id), method: :post %>
      <% end %>
      </section>
    <% end %>
    </section>
    </section>
  <% else %>
  <%= link_to "Connect with GitHub", '/auth/github' %>
  <% end %>
  <section class='friends'>
    <h1>Your Friends</h1>
    <% user.friends.each do |friend| %>
      <%= "#{friend.github_name}" %>
    <% end %>

  </section>

</section>
